/* 버튼 */
.Btn_M_Navy { 
    padding: 1.3rem;
    background-color: var(--navy);
    border-radius: 3px;
    
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--white);

    /* 텍스트의 길이에 맞게 너비를 조정 */
    display: inline-block;
    width: fit-content;
}
.Btn_M_White { 
    padding: 1.3rem;
    background-color: var(--white);
    border: 1px solid var(--navy);
    border-radius: 3px;

    font-size: 1.125rem;
    font-weight: 700;
    color: var(--black);

    /* 텍스트의 길이에 맞게 너비를 조정 */
    display: inline-block;
    width: fit-content;
}